@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: all 0.3s ease;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(53, 53, 53) transparent;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);
  border-radius: 30px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(14, 14, 14);
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  /* Primary: */
  --dark: hsl(0, 3%, 6%);
  --dark2: hsl(0, 3%, 6%);
  --Gold: hsl(44, 89%, 55%);
  --DarkGold: hsl(44, 89%, 50%);
  --mainBg: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black2: hsl(0, 0%, 20%);

  /*! Secondary */
  --DarkGreyToggleBG: hsl(0, 0%, 46%);
  --LightGreySearchBox: hsl(0, 0%, 96%);
  --White: hsl(0, 0%, 100%);

  /*? Texts: */
  --blackText: hsl(0, 0%, 18%);
  --blackText2: hsl(0, 0%, 18%);
  --blackText3: hsl(0, 0%, 18%);
  --darkText: hsl(0, 0%, 47%);
  --lightText: hsl(0, 0%, 55%);
  --lightText2: hsl(0, 0%, 75%);

  /** CLAMPS: */
  --clampMar: clamp(0.5rem, 0.5vw, 1.5rem);
  --clamp1: clamp(1rem, 1.5vw, 2rem);
  --clamp15: clamp(1.5rem, 2vw, 3rem);
  --clamp2: clamp(2rem, 2vw, 4rem);
  --clamp25: clamp(2.5rem, 2vw, 5rem);
  --clamp3: clamp(3rem, 2vw, 6rem);
  --clamp35: clamp(3.5rem, 2vw, 10rem);
}

[data-theme="dark"] {
  --mainBg: hsl(0, 0%, 7%);
  --blackText: hsl(0, 0%, 80%);
  --blackText2: hsl(0, 0%, 55%);
  --blackText3: hsl(0, 0%, 78%);
  --LightGreySearchBox: hsl(0, 0%, 10%);
  --black: hsl(44, 89%, 55%);
  --lightText: hsl(0, 0%, 80%);
  --lightText2: hsl(0, 0%, 90%);
  --dark: hsl(0, 0%, 0%);
  --dark2: hsl(0, 3%, 40%);
  --black2: hsl(44, 89%, 55%);
}

body {
  background-color: var(--mainBg);
}

/* !UTILS: */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-font {
  font-family: "Lora", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sec-font1 {
  font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.sec-font2 {
  font-family: "Inconsolata", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.sec-font3 {
  font-family: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.pri-fz {
  font-size: clamp(1.3rem, 1vw, 3rem);
}
.small-fz {
  font-size: var(--clamp1);
}
.pri-margin {
  margin-bottom: var(--clampMar);
}
.mid-margin {
  margin-bottom: var(--clamp15);
}
.source-fz {
  font-size: clamp(0.8rem, 0.5vw, 1rem);
}
/* !UTILS */

::selection {
  background-color: var(--DarkGold);
  color: var(--dark);
}

body {
  padding-block: 3em;
}

header {
  margin-bottom: 2em;
}

main {
  width: 90%;
  margin-inline: auto;
}

.fa-book {
  font-size: var(--clamp2);
  color: var(--blackText);
}

.search-div {
  position: relative;
  margin-bottom: var(--clamp2);
  font-size: var(--clamp1);
}
input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--LightGreySearchBox);
  border: none;
  outline: none;
  height: var(--clamp3);
  padding-inline: var(--clamp1) var(--clamp3);
  padding-block: clamp(1rem, 1.8vw, 3rem);
  font-weight: 600;
  color: var(--blackText3);
}
.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
  font-size: var(--clamp1);
  cursor: pointer;
}

.result-container {
  padding-bottom: 1em;
}

.word-title {
  font-size: var(--clamp3);
  color: var(--blackText);
  font-weight: 900;
  word-wrap: break-word;
  width: 65vw;
}

.text {
  color: var(--DarkGold);
  font-weight: 600;
  font-size: clamp(1rem, 1vw, 3rem);
}
.text span {
  font-size: clamp(0.8rem, 0.9vw, 2rem);
  text-transform: uppercase;
  color: var(--dark2);
  margin-right: 3px;
  font-style: italic;
  font-weight: 500;
}

audio {
  display: none;
}

.audio:nth-child(3) {
  display: none;
}
.audio:nth-child(4) {
  display: none;
}
.audio:nth-child(5) {
  display: none;
}
.audio:nth-child(6) {
  display: none;
}
.audio-controls {
  width: var(--clamp35);
  height: var(--clamp35);
  border-radius: 50%;
  background-color: var(--dark);
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.audio-controls:active {
  transform: scale(0.8);
}
.audio-controls i {
  color: var(--Gold);
  font-size: var(--clamp1);
}

.meaning-header {
  display: flex;
  align-items: center;
  gap: var(--clamp1);
}
section:not(:last-child) {
  margin-bottom: var(--clamp2);
}
.meaning-header p {
  font-weight: 700;
  font-style: italic;
}

.line {
  background-color: var(--LightGreySearchBox);
  height: 0.1rem;
  flex: 1;
}

.speech {
  color: var(--black2);
}

.sub-heading {
  font-weight: 500;
  color: var(--lightText);
  font-size: clamp(1rem, 1vw, 3rem);
}

.definition-list {
  margin-left: var(--clamp2);
}

.list-items {
  margin-bottom: 0.9em;
  color: var(--blackText2);
}
.list-items::marker {
  color: var(--DarkGold);
}

.synonym-container {
  display: flex;
  margin-top: var(--clamp15);
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1.5em;
}
.synonym {
  color: var(--DarkGold);
  font-weight: 700;
  font-style: italic;
}

.source-container {
  border-block-start: 0.2em solid var(--LightGreySearchBox);
  padding-top: 1em;
}

.source-title {
  color: var(--lightText);
}
.source {
  text-decoration: underline;
  color: var(--dark2);
  width: 100%;
  word-wrap: break-word;
  font-size: clamp(0.8rem, 0.5vw, 2rem);
}
.source:hover {
  color: var(--DarkGold);
}

@media (min-width: 69em) {
  :root {
    --clampMar: clamp(0.5rem, 0.5vw, 1.5rem);
    --clamp1: clamp(1rem, 1vw, 2rem);
    --clamp15: clamp(1.5rem, 2vw, 3rem);
    --clamp2: clamp(2rem, 2vw, 4rem);
    --clamp25: clamp(3rem, 2vw, 5rem);
    --clamp3: clamp(3rem, 2vw, 6rem);
    --clamp35: clamp(3.5rem, 4vw, 10rem);
  }
  main {
    width: min(60%, 1200px);
  }
  .word-title {
    word-wrap: break-word;
    width: min(45vw, 1000px);
  }
  .source {
    font-size: clamp(0.8rem, 0.7vw, 2rem);
    width: fit-content;
  }
}
